<div class="container" ng-controller="SuperControlador">
        <div class="row">
            <div class="col-lg-12   ">
            <img src="img/ccvudc.png" alt="">
                <hr>
    <button ng-click='estilos1()' ng-style='estiloA'>Local</button>
    <button ng-click='estilos2()' ng-style='estiloB'>Empate</button>
    <button ng-click='estilos3()' ng-style='estiloC'>Visita</button>
    <script src="js/angular.min.js"></script>

    <script>
        function SuperControlador($scope) {


            $scope.estilos1 = function () {

                $scope.estiloA = {
                    'background-color': 'blue'
                }
                $scope.estiloB = {
                    'background-color': 'none'
                }
                 $scope.estiloC = {
                    'background-color': 'none'
                }
            } 
            
            $scope.estilos2 = function () {

                $scope.estiloA = {
                    'background-color': 'none'
                }
                $scope.estiloB = {
                    'background-color': 'green'
                }
                 $scope.estiloC = {
                    'background-color': 'none'
                }
            }
            
              $scope.estilos3 = function () {

                $scope.estiloA = {
                    'background-color': 'none'
                }
                $scope.estiloB = {
                    'background-color': 'none'
                }
                 $scope.estiloC = {
                    'background-color': 'red'
                }
            }
        }
    </script>
            
            </div>
        
        </div>
      </div>
