

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="img/campeonatos.jpg">
            <h2 class="featurette-heading">Apuesta por las mejores ligas
                <span style="color:#fdca01;">de todo el mundo!</span>
            </h2>
            <p class="lead">Ingresa y ve los proximos partidos para apostar, gana puntos y logra subir en el ranking para convertirte en el mejor!</p>
            <a href="index.html#/partidos" class="myButton">Ver todos los partidos</a>
        </div>

      

      


        <hr class="featurette-divider">

 
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Soccer Bet 2014</p>
                </div>
            </div>
        </footer>

