
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h3>Proximos Partidos</h3>
                {{saludo}}
            </div>
        </div>
        
        <div ng-repeat="partido in arregloFalsoNoUsar">{{partido}}</div>



        <div class="row text-center" id="contenedorPrincipal">




        </div>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Soccer Bet 2014</p>
                </div>
            </div>
        </footer>

    </div>
