<!DOCTYPE html>
<html lang="es" ng-app="zoo">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
   
      <title>Acceder</title>
      
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/login.css" rel="stylesheet">
    <script src="../js/warning.js"></script>
    <script src="../js/workaround.js"></script>
  </head>

  <body>

    <div class="container">
        <div class="logo"><img src="../img/logo-login.png" alt=""></div>
        
        <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Registro</h2>
        <input type="email" class="form-control" placeholder="Nombre" required autofocus>
        <input type="email" class="form-control" placeholder="Email" required autofocus>
        <input type="email" class="form-control" placeholder="Contraseña" required autofocus>
        <input type="password" class="form-control" placeholder="Confirmar Contraseña" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Guardar contraseña
          </label>
        </div>
         <a href="../index.html" class="myButton">Acceder</a>
            <div class="siCuenta">
                <p>Si tienes cuenta <span style="color:#fdca01;"><a href="login.html">Logueate</a></span></p>
            </div>
        </form>

    </div>


    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="//www.parsecdn.com/js/parse-1.3.0.min.js"></script>
    <script src="../js/miParse.js"></script>

  </body>
</html>
